name: Python CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
  lint-and-test:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Забираем код из репозитория
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Устанавливаем нужную версию Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      # 3️⃣ Устанавливаем зависимости из requirements.txt
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # 4️⃣ Скачиваем браузеры для Playwright + системные зависимости
      - name: Install Playwright Browsers
        run: |
          python -m playwright install --with-deps

      # 5️⃣ Проверяем стиль кода с помощью Black
      - name: Run linters
        run: |
          black --check .

      # 6️⃣ Запускаем тесты через pytest и сохраняем результаты для Allure
      - name: Run tests with pytest
        run: |
          pytest --junitxml=report.xml --alluredir=allure-results

      # 7️⃣ Загружаем результаты тестов как артефакты
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results
          path: |
            report.xml
            allure-results/
